@charset "euc-kr";

/* (/ui/static/image/jobTemp/ */

#content_job{padding:0 !important;}
@media all and (-ms-high-contrast:none){ 
	#content_job * {letter-spacing:-0.075em;}
}


/*
cmp_name : 기업명
recruiter_subject : 공고명
cmp_vision : 비전
cmp_info : 회사소개
*/
/* 20220711_신규템플릿_디자인팀_공고파트_추성하_시작 */
/* common */
.tempNew-wrap{width:100%;max-width:900px;font-size:15px; line-height:27px; font-family:"맑은 고딕","Gulim","Tahoma","Geneva",sans-serif;margin:0 auto;padding-bottom:0;background-color:#fff; letter-spacing: -0.077em;}
.tempNew-wrap .none {display:none!important;}
.frame_mobile .tempNew-wrap .section p{padding:inherit;color:inherit;}

.tempNew-wrap *{margin:0;padding:0;box-sizing:border-box;}
.tempNew-wrap img{max-width:100%}
.tempNew-wrap h1{font-size:3.308em;letter-spacing:-0.1em;line-height:51px}
.tempNew-wrap h2{font-size:2.308em;letter-spacing:-0.1em;line-height:34px}
.tempNew-wrap h3{font-size:1.538em;letter-spacing:-0.1em;margin-bottom:14px;min-height:23px;line-height:23px}
.tempNew-wrap .cmp-introduce{padding:35px 19px 34px;line-height:20px;font-size:15px; letter-spacing:-0.077em;color:#484848;}

.tempNew-head .head-img img{vertical-align:top;}
.tempNew-wrap .tempNew-head {min-height:235px; width:100%; display: table; padding:10px 0;}
.tempNew-wrap .tempNew-head > div{display:table-cell; vertical-align: middle;}
.tempNew-wrap .tempNew-head *{font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue","Apple SD Gothic Neo",Arial,sans-serif; letter-spacing: -0.090em;}
.tempNew-wrap .tempNew-head .cmp_vision{font-size:20px; line-height:24px; font-weight:350; }
.tempNew-wrap .tempNew-head .cmp_info{padding:15px 0 25px; font-size:16px; line-height:22px; color:#484848; font-weight:300; }
.tempNew-wrap .tempNew-head .cmp_name{font-size:32px; line-height:36px; color:#121212; font-weight:300;}
.tempNew-wrap .tempNew-head .recruiter_subject{font-size:34px;line-height:38px; font-weight:700;}
.tempNew-container .section{}
.tempNew-container .section p{}
.tempNew-container .section:last-child{margin-bottom:0;}
.tempNew-wrap .time{margin-bottom:8px; color:#ff460a;font-size:24px; letter-spacing:-0.070em; padding-left:19px;}

.tempNew-wrap .title{font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue","Apple SD Gothic Neo",Arial,sans-serif; font-size:23px; font-weight:500; letter-spacing:-0.075em;margin:35px 0 12px 0;padding-left:19px;position:relative; letter-spacing: -0.090em;}
.tempNew-wrap .title.first{margin-top:20px;}
.tempNew-wrap .title:after{content:""; width:5px; height:13px; background:#ff460a; position:absolute; left:5px; bottom:3px; border-radius: 10px; transform: rotate(45deg)}
.tempNew-wrap .title:before{content:""; width:5px; height:13px; background:#b3b5bd; position:absolute; left:5px; top:4px; border-radius: 10px; transform: rotate(-45deg)}

/* table 기본설정_220622_추성하 */
.tempNew-wrap .tmp-table{width:100% !important;border-collapse:collapse;border-spacing:0;}
.tempNew-wrap .tmp-table thead th{text-align:center;padding:13px 0;font-size:14px;border:1px solid #e1e6e7; background:#edf0f8;}
.tempNew-wrap .tmp-table tbody td{padding:13px 8px;font-size:15px;line-height:27px;border:1px solid #e1e6e7;}

/* 블릿 리스트 */
.dotted-list{list-style:none; padding-left:18px;}
table .dotted-list {list-style:none; padding-left:0;}
.dotted-list li{padding-left:8px; position:relative;}
.dotted-list li:before{content:""; width:2px; height:2px; background:#ff460a;position:absolute; left:1px; top:12px;}
.slogan{display:none;margin-top:70px;text-align:right;}

/* 미디어쿼리 */
@media only screen and (max-width:768px) {
	/* common */
	.tempNew-wrap{font-size:14px; line-height:25px;}
	.tempNew-wrap .tempNew-head {min-height:185px;}
	.tempNew-wrap .tempNew-head .cmp_vision{font-size:16px; line-height:18px;}
	.tempNew-wrap .tempNew-head .cmp_info{font-size:14px; line-height:20px; padding:10px 0 20px;}
	.tempNew-wrap .tempNew-head .cmp_name{font-size:22px; line-height:24px;}
	.tempNew-wrap .tempNew-head .recruiter_subject{font-size:23px;line-height:25px;}
	
	.tempNew-wrap .title{font-size:19px; margin:17px 0 3px 0;}
	.tempNew-wrap .title.first{margin-top:5px;}
	.tempNew-wrap .time{font-size:21px; margin-bottom:3px;}
	/* table */
	.tempNew-wrap .tmp-table thead th{font-size:13px; line-height:24px; padding:5px 8px;}
	.tempNew-wrap .tmp-table tbody td{font-size:14px; line-height:25px; padding:6px 8px;}
	/* 블릿 리스트 */
	.dotted-list{padding-left:12px;}
	.dotted-list li:before{top:11px;}
}


/* ------------------------------------------------------------------------------------------------------------ */


/* 1. startup : 스타트업 (혁신) */
/* 1번 템플릿 */
.tempNew-wrap.startup01{background:#51d199;}
.tempNew-wrap.startup01 .tempNew-head{padding:15px 20px 15%; background:url(https://c.incru.it/HR/jobTemp_2022/img/startup/startup_1-1.png)no-repeat bottom; background-size:100%;}
.tempNew-wrap.startup01 .tempNew-head *{text-align:center; color:#ffffff;}
.tempNew-wrap.startup01 .tempNew-head .cmp_name{ margin-bottom:0; }
.tempNew-wrap.startup01 .tempNew-head .recruiter_subject{color:#ffffff; font-size:36px; line-height:38px; }
.tempNew-wrap.startup01 .tempNew-head .cmp_vision {color:#ffffff; position:relative; padding:5px 0; margin-top:20px;}
.tempNew-wrap.startup01 .tempNew-head .cmp_vision:before {content:"";width:35%; height:1px; position: absolute; left:50%; top:0; transform:translateX(-50%); background:#ffffff;}
.tempNew-wrap.startup01 .tempNew-head .cmp_vision:after {content:"";width:35%; height:1px; position: absolute; left:50%; bottom:0; transform:translateX(-50%); background:#ffffff;}
.tempNew-wrap.startup01 .tempNew-head .cmp_info {padding-bottom:0;}
.tempNew-wrap.startup01 .tempNew-container{background:url(https://c.incru.it/HR/jobTemp_2022/img/startup/startup_1-2.png)no-repeat bottom #ffffff; background-size:100%; border-radius:30px 30px 0 0; padding:10px; padding-top:15px;}
.tempNew-wrap.startup01 .title{color:#13af60;}
.tempNew-wrap.startup01 .title:after{background:#81deb5;}
.tempNew-wrap.startup01 .tmp-table th {background:#51d199; color:#ffffff; border-color:#13af60;}
.tempNew-wrap.startup01 .tmp-table td {border-color:#13af60;}
.tempNew-wrap.startup01 .dotted-list li:before{background:#13af60;}
@media only screen and (max-width:768px) {
	.tempNew-wrap.startup01 .tempNew-head .recruiter_subject{font-size:26px; line-height:28px;}
	.tempNew-wrap.startup01 .tempNew-head .cmp_vision{margin-top:15px;}
	.tempNew-wrap.startup01 .tempNew-container{background:#ffffff;}
	.tempNew-wrap.startup01 .tempNew-head .cmp_vision:before, .tempNew-wrap.startup01 .tempNew-head .cmp_vision:after {width:50%;}
}

/* 2번 템플릿 */
.tempNew-wrap.startup02 .tempNew-head{background:url(https://c.incru.it/HR/jobTemp_2022/img/startup/startup_2-1.png)no-repeat bottom left #008aff; padding-left:20px;}
.tempNew-wrap.startup02 .tempNew-head > div{background:url(https://c.incru.it/HR/jobTemp_2022/img/startup/startup_2-2.png)no-repeat top right; padding-right:20px; }
.tempNew-wrap.startup02 .tempNew-head *{text-align:center; color:#ffffff;}
.tempNew-wrap.startup02 .tempNew-head .cmp_name{margin-bottom:0; }
.tempNew-wrap.startup02 .tempNew-head .recruiter_subject{color:#ffffff; font-size:39px; line-height:41px;}
.tempNew-wrap.startup02 .tempNew-head .cmp_vision {color:#fff000; position:relative; padding:5px 0; margin-top:15px;}
.tempNew-wrap.startup02 .tempNew-head .cmp_vision:before {content:"";width:40%; height:1px; position: absolute; left:50%; top:0; transform:translateX(-50%); background:#fff000;}
.tempNew-wrap.startup02 .tempNew-head .cmp_vision:after {content:"";width:40%; height:1px; position: absolute; left:50%; bottom:0; transform:translateX(-50%); background:#fff000;}
.tempNew-wrap.startup02 .tempNew-head .cmp_info {padding-bottom:0;}
.tempNew-wrap.startup02 .title{color:#1270bf;}
.tempNew-wrap.startup02 .title:after{background:#008aff;}

.tempNew-wrap.startup02 .tmp-table th {background:#73bfff; color:#ffffff; border:none;}

.tempNew-wrap.startup02 .dotted-list li:before{background:#008aff;}
@media only screen and (max-width:768px) {
	.tempNew-wrap.startup02 .tempNew-head {background-size:30%;}
	.tempNew-wrap.startup02 .tempNew-head > div {background-size:50%;}
	.tempNew-wrap.startup02 .tempNew-head .recruiter_subject{font-size:27px; line-height:29px;}
	.tempNew-wrap.startup02 .tempNew-head .cmp_vision:before, .tempNew-wrap.startup02 .tempNew-head .cmp_vision:after {width:50%;}
}


/* ------------------------------------------------------------------------------------------------------------ */


/* 2. business : 사내문화+전문직 */
/* 1번 템플릿 */
.tempNew-wrap.business01 .tempNew-head{background:url(https://c.incru.it/HR/jobTemp_2022/img/business/business_1.png)no-repeat top right; background-size:100%; padding-right:30%;}
.tempNew-wrap.business01 .cmp_vision{color:#4263d8;}
.tempNew-wrap.business01 .tempNew-head .cmp_info {padding:7px 0 25px;}
.tempNew-wrap.business01 .tempNew-head .recruiter_subject{font-size:32px; line-height:42px; color:#4263d8;}
.tempNew-wrap.business01 .tempNew-head .cmp_name{font-size:28px; line-height:32px; margin-bottom:0; font-weight:350; }
.tempNew-wrap.business01 .title:after{background:#4263d8;}
.tempNew-wrap.business01 .dotted-list li:before{background:#4263d8;}
@media only screen and (max-width:768px) {
	.tempNew-wrap.business01 .tempNew-head .recruiter_subject {font-size:22px; line-height:24px;}
	.tempNew-wrap.business01 .tempNew-head .cmp_name {font-size:20px; line-height:22px;}
	.tempNew-wrap.business01 .tempNew-head .cmp_info{padding-top:3px;}
}

/* 2번 템플릿 */
.tempNew-wrap.business02 .tempNew-head{background:url(https://c.incru.it/HR/jobTemp_2022/img/business/business_2.png)no-repeat bottom right; background-size:100%; padding-right:30%;}
.tempNew-wrap.business02 .tempNew-head .cmp_vision{font-size:30px; line-height:32px; padding:0px;}
.tempNew-wrap.business02 .tempNew-head .cmp_name{font-size:25px; line-height:27px; font-weight:500; padding-bottom:20px;}
.tempNew-wrap.business02 .tempNew-head .recruiter_subject{color:#e22354;}
.tempNew-wrap.business02 .tempNew-head .cmp_info{position:relative; padding-top:20px; padding-bottom:0;}
.tempNew-wrap.business02 .tempNew-head .cmp_info:before{content:""; width:25px; height:1px; position:absolute; left:0; top:18%; background:#484848;}
.tempNew-wrap.business02 .title:after{background:#e22354;}
.tempNew-wrap.business02 .dotted-list li:before { background:#e22354}
@media only screen and (max-width:768px) {
	.tempNew-wrap.business02 .tempNew-head .cmp_vision{font-size:20px; line-height:24px;}
	.tempNew-wrap.business02 .tempNew-head .cmp_name{font-size:18px; line-height:20px; padding-bottom:15px;}
	.tempNew-wrap.business02 .tempNew-head .cmp_info:before{top:27%;}
}

/* 3번 템플릿 */
.tempNew-wrap.business03 .tempNew-head{ background:url(https://c.incru.it/HR/jobTemp_2022/img/business/business_3.png)no-repeat top right; background-size:100%; padding-right:45%;}
.tempNew-wrap.business03 .tempNew-head > div{position:relative;}
.tempNew-wrap.business03 .tempNew-head .bg{  position:absolute; left:0; top:0; width:100%; height:100%;}
.tempNew-wrap.business03 .tempNew-head .cmp_vision{font-size:24px; line-height:30px; padding:0px;}
.tempNew-wrap.business03 .tempNew-head .cmp_info{position:relative; padding:0 0 40px;}
.tempNew-wrap.business03 .tempNew-head .cmp_name{font-size:30px; line-height:32px; margin:0; font-weight:350;}
.tempNew-wrap.business03 .tempNew-head .recruiter_subject{color:#f58d02; font-size:30px; line-height:36px;}
.tempNew-wrap.business03 .title:after{background:#f58d02;}
.tempNew-wrap.business03 .dotted-list li:before { background:#f58d02}
@media only screen and (max-width:768px) {
	.tempNew-wrap.business03 .tempNew-head .cmp_vision{font-size:17px; line-height:19px;}
	.tempNew-wrap.business03 .tempNew-head .cmp_info{ padding:0 0 25px;}
	.tempNew-wrap.business03 .tempNew-head .cmp_name{font-size:21px; line-height:23px;}
	.tempNew-wrap.business03 .tempNew-head .recruiter_subject{font-size:21px; line-height:23px;}
}

/* 4번 템플릿 */
.tempNew-wrap.business04 .tempNew-head{ background:url(https://c.incru.it/HR/jobTemp_2022/img/business/business_4.png)no-repeat top center #f6f6f6; background-size:cover; padding-right:45%; padding-left:10px;}
.tempNew-wrap.business04 .tempNew-head > div{position:relative;}
.tempNew-wrap.business04 .tempNew-head .bg{  position:absolute; left:0; top:0; width:100%; height:100%;}
.tempNew-wrap.business04 .tempNew-head .cmp_vision{font-weight: 500; padding-bottom:25px;}
.tempNew-wrap.business04 .tempNew-head .cmp_name{font-size:30px; line-height:32px; margin:0; font-weight:350;}
.tempNew-wrap.business04 .tempNew-head .recruiter_subject{ font-size:30px; line-height:32px;}
.tempNew-wrap.business04 .cmp_info{position:relative; padding:7px 11px; font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue","Apple SD Gothic Neo",Arial,sans-serif; font-size:16px; color:#484848; line-height:24px; background:#f6f6f6;}
.tempNew-wrap.business04 .title:after{background:#422c1c;}
.tempNew-wrap.business04 .tmp-table{border-style:solid hidden; border-bottom-width:1px;}
.tempNew-wrap.business04 .tmp-table thead th{border-top:solid 3px #422c1c; background:#f6f6f6}
.tempNew-wrap.business04 .dotted-list li:before { background:#422c1c}
@media only screen and (max-width:768px) {
	.tempNew-wrap.business04 .tempNew-head{padding-right:29%;}
	.tempNew-wrap.business04 .cmp_info{font-size:15px; line-height:20px;}
	.tempNew-wrap.business04 .tempNew-head .cmp_name{font-size:20px; line-height:22px;}
	.tempNew-wrap.business04 .tempNew-head .recruiter_subject{ font-size:20px; line-height:22px;}
}


/* ------------------------------------------------------------------------------------------------------------ */


/* 3. medi : 의료/제약/간호*/
/* 1번 템플릿 */
.tempNew-wrap.medi01 .tempNew-head{ background:url(https://c.incru.it/HR/jobTemp_2022/img/medi/medi_1.png)no-repeat top center #017eff; background-size:cover; padding-right:37%; padding-left:10px;}
.tempNew-wrap.medi01 .tempNew-head > div{position:relative;}
.tempNew-wrap.medi01 .tempNew-head .bg{  position:absolute; left:0; top:0; width:100%; height:100%;}
.tempNew-wrap.medi01 .tempNew-head .cmp_vision{font-weight: 500; padding-bottom:35px; color:#ffffff;}
.tempNew-wrap.medi01 .tempNew-head .cmp_name{ font-size:30px; line-height:34px; margin:0; color:#ffffff;}
.tempNew-wrap.medi01 .tempNew-head .recruiter_subject{font-size:30px; line-height:34px; color:#a4ff8b;}
.tempNew-wrap.medi01 .cmp_info{position:relative; padding:7px 11px; font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue","Apple SD Gothic Neo",Arial,sans-serif; font-size:16px; color:#484848; line-height:24px; background:#f6f6f6;}
.tempNew-wrap.medi01 .title:after{background:#017eff;}
.tempNew-wrap.medi01 .tmp-table{border-style:solid hidden; border-bottom-width:1px;}
.tempNew-wrap.medi01 .tmp-table thead th{border-top:solid 3px #017eff; background:#f6f6f6}
.tempNew-wrap.medi01 .dotted-list li:before { background:#017eff}
@media only screen and (max-width:768px) {
	.tempNew-wrap.medi01 .tempNew-head .cmp_vision {padding-bottom:25px;}
	.tempNew-wrap.medi01 .tempNew-head .cmp_name {font-size:21px; line-height:23px;}
	.tempNew-wrap.medi01 .tempNew-head .recruiter_subject {font-size:21px; line-height:23px;}
	.tempNew-wrap.medi01 .cmp_info{font-size:15px; line-height:22px;}
}

/* 2번 템플릿 */
.tempNew-wrap.medi02 .tempNew-head{ background:url(https://c.incru.it/HR/jobTemp_2022/img/medi/medi_2.png)no-repeat top right; background-size:100%; padding-right:45%;}
.tempNew-wrap.medi02 .tempNew-head > div{position:relative;}
.tempNew-wrap.medi02 .tempNew-head .bg{  position:absolute; left:0; top:0; width:100%; height:100%;}
.tempNew-wrap.medi02 .tempNew-head .cmp_vision{font-weight: 500; padding:0px; color:#388ef0; padding-bottom:50px;}
.tempNew-wrap.medi02 .tempNew-head .cmp_info{position:relative; padding:0 0 10px 0;}
.tempNew-wrap.medi02 .tempNew-head .cmp_name{ margin:0;}
.tempNew-wrap.medi02 .title:after{background:#388ef0;}
.tempNew-wrap.medi02 .dotted-list li:before { background:#388ef0}
.tempNew-wrap.medi02 .tmp-table thead th:first-child {background:#388ef0; color:#ffffff;}
@media only screen and (max-width:768px) {
	.tempNew-wrap.medi02 .tempNew-head{padding-right:0;}
	.tempNew-wrap.medi02 .tempNew-head .cmp_info{padding:0 0 5px 0; padding-right:40%;}
	.tempNew-wrap.medi02 .tempNew-head .cmp_vision{padding-bottom:25px; padding-right:40%;}
	.tempNew-wrap.medi02 .tempNew-head .recruiter_subject, .tempNew-wrap.medi02 .tempNew-head .cmp_name{padding-right:20px;}
	
}


/* ------------------------------------------------------------------------------------------------------------ */


/* 4. product : 제조/생산/유통/물류 */
/* 1번 템플릿 */
.tempNew-wrap.product01 .tempNew-head{background:url(https://c.incru.it/HR/jobTemp_2022/img/product/product_1.png)no-repeat bottom right; background-size:100%; padding-left:45%;}
.tempNew-wrap.product01 .cmp_vision{color:#1dc57b;}
.tempNew-wrap.product01 .tempNew-head .cmp_info {padding:5px 0 45px;}
.tempNew-wrap.product01 .tempNew-head .recruiter_subject{color:#1dc57b; font-weight:350;}
.tempNew-wrap.product01 .tempNew-head .cmp_name{ margin-bottom:0;  }
.tempNew-wrap.product01 .title:after{background:#1dc57b;}
.tempNew-wrap.product01 .dotted-list li:before{background:#1dc57b;}
.tempNew-wrap.product01 .tmp-table thead th{color:#18a868; border-color:#61d2a0; background:#e6fff4;}
@media only screen and (max-width:768px) {
	.tempNew-wrap.product01 .tempNew-head .cmp_info {padding-bottom:30px;}
}

/* 2번 템플릿 */
.tempNew-wrap.product02 .tempNew-head{background:url(https://c.incru.it/HR/jobTemp_2022/img/product/product_2.png)no-repeat top; background-size:100%; padding-right:30%;}
.tempNew-wrap.product02 .cmp_vision{color:#129b2b; font-weight:500; padding-left:6px; position:relative;}
.tempNew-wrap.product02 .cmp_vision:before{content:""; width:4px; height:20px; background:#129b2b; position:absolute; left:0; top:3px;}
.tempNew-wrap.product02 .tempNew-head .cmp_info {padding-bottom:40px;}
.tempNew-wrap.product02 .tempNew-head .recruiter_subject{ color:#129b2b;}
.tempNew-wrap.product02 .tempNew-head .cmp_name{font-size:28px; line-height:32px; }
.tempNew-wrap.product02 .title:after{background:#129b2b;}
.tempNew-wrap.product02 .dotted-list li:before{background:#129b2b;}
@media only screen and (max-width:768px) {
	.tempNew-wrap.product02 .tempNew-head .cmp_name{font-size:20px; line-height:22px;}
	.tempNew-wrap.product02 .cmp_vision:before{height:18px;}
	.tempNew-wrap.product02 .tempNew-head .cmp_info {padding-bottom:25px;}
}


/* ------------------------------------------------------------------------------------------------------------ */


/* 5. enter : 방송/엔터테인먼트 */
/* 1번 템플릿 */
.tempNew-wrap.enter01 .tempNew-head{background:url(https://c.incru.it/HR/jobTemp_2022/img/enter/enter_1.png)no-repeat top; background-size:100%; padding-right:32%;}
.tempNew-wrap.enter01 .cmp_vision{color:#5411ff; font-weight:500;}
.tempNew-wrap.enter01 .tempNew-head .cmp_info {padding:5px 0 50px;}
.tempNew-wrap.enter01 .tempNew-head .recruiter_subject{ font-weight:350; font-size:30px; line-height:32px; }
.tempNew-wrap.enter01 .tempNew-head .cmp_name{ font-weight:350; font-size:30px; line-height:32px; }
.tempNew-wrap.enter01 .title:after{background:#5411ff;}
.tempNew-wrap.enter01 .dotted-list li:before{background:#5411ff;}
.tempNew-wrap.enter01 .tmp-table thead th{color:#5411ff;}
@media only screen and (max-width:768px) {
	.tempNew-wrap.enter01 .tempNew-head .cmp_info {padding:5px 0 20px;}
	.tempNew-wrap.enter01 .tempNew-head .recruiter_subject, .tempNew-wrap.enter01 .tempNew-head .cmp_name{font-size:20px; line-height:22px;}
}

/* 2번 템플릿 */
.tempNew-wrap.enter02 .tempNew-head{background:url(https://c.incru.it/HR/jobTemp_2022/img/enter/enter_2.png)no-repeat bottom; background-size:100%; padding-right:40%;}
.tempNew-wrap.enter02 .cmp_vision{font-weight:500; padding-bottom:30px;}
.tempNew-wrap.enter02 .tempNew-head .cmp_info {padding:0; padding-top:10px;}
.tempNew-wrap.enter02 .tempNew-head .recruiter_subject{ color:#c20948; }
.tempNew-wrap.enter02 .title:after{background:#c20948;}
.tempNew-wrap.enter02 .dotted-list li:before{background:#c20948;}
.tempNew-wrap.enter02 .tmp-table thead th{color:#c20948; border-color:#d9688e; background:#ffeaf1;}
@media only screen and (max-width:768px) {
	.tempNew-wrap.enter02 .cmp_vision {padding-bottom:15px;}
}


/* ------------------------------------------------------------------------------------------------------------ */


/* 6. build : 건설/엔지니어링 */
/* 1번 템플릿 */
.tempNew-wrap.build01 .tempNew-head{background:url(https://c.incru.it/HR/jobTemp_2022/img/build/build_1.png)no-repeat top center #313336; padding:20px;}
.tempNew-wrap.build01 .tempNew-head *{text-align:center;}
.tempNew-wrap.build01 .tempNew-head .cmp_name{margin-bottom:0; color:#ffffff; }
.tempNew-wrap.build01 .tempNew-head .recruiter_subject{color:#ffffff; font-weight:400;}
.tempNew-wrap.build01 .tempNew-head .cmp_vision {color:#062ac3; font-size:24px; line-height:26px; font-weight:500;}
.tempNew-wrap.build01 .tempNew-head .cmp_info {padding: 25px 0 45px; position:relative;}
.tempNew-wrap.build01 .tempNew-head .cmp_info:before {content:"";width:80px; height:1px; position: absolute; left:50%; top:15px; transform:translateX(-50%); background:#484848;}
.tempNew-wrap.build01 .title{color:#062ac3;}
.tempNew-wrap.build01 .title:after{background:#062ac3;}
.tempNew-wrap.build01 .dotted-list li:before{background:#062ac3;}
@media only screen and (max-width:768px) {
	.tempNew-wrap.build01 .tempNew-head .cmp_vision{font-size:18px; line-height:20px;}
	.tempNew-wrap.build01 .tempNew-head .cmp_info {padding: 15px 0 35px;}
	.tempNew-wrap.build01 .tempNew-head .cmp_info:before {top:10px;}
}

/* 2번 템플릿 */
.tempNew-wrap.build02 .tempNew-head{background:url(https://c.incru.it/HR/jobTemp_2022/img/build/build_2.png)no-repeat bottom #97d2ff; background-size:100%; padding-right:30%; padding-left:20px;}
.tempNew-wrap.build02 .cmp_vision{color:#e4113f; padding-bottom:30px; font-size:24px; line-height:26px;}
.tempNew-wrap.build02 .tempNew-head .cmp_info {padding:0; padding-top:10px;}
.tempNew-wrap.build02 .tempNew-head .recruiter_subject{  }
.tempNew-wrap.build02 .title:after{background:#e4113f;}
.tempNew-wrap.build02 .dotted-list li:before{background:#e4113f;}
.tempNew-wrap.build02 .tmp-table thead th{color:#e4113f; border-color:#f17d96; background:#ffeaef;}
@media only screen and (max-width:768px) {
	.tempNew-wrap.build02 .cmp_vision{font-size:18px; line-height:20px; padding-bottom:20px;}
}


/* ------------------------------------------------------------------------------------------------------------ */


/* 7. it : IT/게임 */
/* 1번 템플릿 */
.tempNew-wrap.it01 .tempNew-head{background:url(https://c.incru.it/HR/jobTemp_2022/img/it/it_1.png)no-repeat top; background-size:100%; padding:20% 20px 10px; min-height:auto;}
.tempNew-wrap.it01 .tempNew-head *{text-align:center;}
.tempNew-wrap.it01 .tempNew-head .cmp_vision{padding-bottom:20px;}
.tempNew-wrap.it01 .tempNew-head .cmp_name{font-size:30px; line-height:32px;}
.tempNew-wrap.it01 .tempNew-head .cmp_info{padding:0; padding-top:10px;}
.tempNew-wrap.it01 .tempNew-head .recruiter_subject{color:#09788c;}
.tempNew-wrap.it01 .title{color:#12434c;}
.tempNew-wrap.it01 .title:after{background:#1badc7;}
.tempNew-wrap.it01 .tmp-table th {background:#1badc7; color:#ffffff;}
.tempNew-wrap.it01 .tmp-table td:first-child {background:#f6f6f8;}
.tempNew-wrap.it01 .dotted-list li:before{background:#b1b1b1;}
@media only screen and (max-width:768px) {
	.tempNew-wrap.it01 .tempNew-head .cmp_vision{padding-bottom:10px;}
	.tempNew-wrap.it01 .tempNew-head .cmp_name{font-size:20px; line-height:22px;}
}

/* 2번 템플릿 */
.tempNew-wrap.it02 .tempNew-head{background:url(https://c.incru.it/HR/jobTemp_2022/img/it/it_2.png)no-repeat top #f6f6f8; background-size:100%;  padding-left:10px; padding-right:38%;}
.tempNew-wrap.it02 .tempNew-head .cmp_vision{ font-weight: 500; padding-bottom:30px;}
.tempNew-wrap.it02 .tempNew-head .cmp_info{padding:0px; padding-bottom:5px;}
.tempNew-wrap.it02 .tempNew-head .cmp_name{ font-size:30px; line-height:32px;}
.tempNew-wrap.it02 .tempNew-head .recruiter_subject{color:#8934e6;}
.tempNew-wrap.it02 .title:after{background:#8934e6;}
.tempNew-wrap.it02 .tmp-table th {border-top:solid 3px #8934e6; background:#f6edff;}
.tempNew-wrap.it02 .tmp-table th:first-child {background:#8934e6; color:#ffffff; border-left-color:#8934e6;}
.tempNew-wrap.it02 .dotted-list li:before{background:#8934e6;}
@media only screen and (max-width:768px) {
	.tempNew-wrap.it02 .tempNew-head .cmp_name{ font-size:20px; line-height:22px;}
	.tempNew-wrap.it02 .tempNew-head .cmp_vision{ padding-bottom:20px;}
}


/* ------------------------------------------------------------------------------------------------------------ */


/* 8. simple : 기본 테마 (심플) */
/* 1번 템플릿 */
.tempNew-wrap.simple01 .tempNew-head{background:url(https://c.incru.it/HR/jobTemp_2022/img/simple/simple_1-1.png)no-repeat top right; background-size:100%; min-height:auto;}
.tempNew-wrap.simple01 .tempNew-head *{text-align:center;}
.tempNew-wrap.simple01 .tempNew-head .cmp_name{ padding-top:45px;}
.tempNew-wrap.simple01 .tempNew-head .recruiter_subject{color:#f6381f; font-size:42px; line-height:44px;}
.tempNew-wrap.simple01 .tempNew-head .cmp_vision{ padding-top:20px; color:#f6381f; border-bottom:solid 1px #f6381f; display:inline-block;}
.tempNew-wrap.simple01 .tempNew-head .cmp_info{padding:0; padding-top:10px;}
.tempNew-wrap.simple01 .tempNew-container{background:url(https://c.incru.it/HR/jobTemp_2022/img/simple/simple_1-2.png)no-repeat bottom right; background-size:100%;}
.tempNew-wrap.simple01 .title:after{background:#f6381f;}
.tempNew-wrap.simple01 .tmp-table th {border-top:solid 3px #f6381f;}
.tempNew-wrap.simple01 .dotted-list li:before{background:#b1b1b1;}
@media only screen and (max-width:768px) {
	.tempNew-wrap.simple01 .tempNew-head .cmp_name{ padding-top:15px;}
	.tempNew-wrap.simple01 .tempNew-head .recruiter_subject{font-size:28px; line-height:30px;}
}


/* ------------------------------------------------------------------------------------------------------------ */

/* 20220711_신규템플릿_디자인팀_공고파트_추성하_끝 */



/* 기존 데이터_시작 */

/* jobalio */
.tempNew-wrap.tempJobalio{letter-spacing:-0.05em;color:#494949;}
.tempNew-wrap.tempJobalio .tempNew-head .cmp_name{padding:38px 0 0 0; font-size:38px; line-height:43px; color:#1c67be; font-weight:bold;}
.tempNew-wrap.tempJobalio .tempNew-head .recruiter_subject{padding:0 0 33px 0; margin-top:24px; font-size:36px; line-height:44px; letter-spacing:-0.1em; font-weight:normal; color:#000;}
.tempNew-wrap.tempJobalio .tempNew-container .section p{padding-left:23px;}
.tempNew-wrap.tempJobalio .tmp-table{border-width:1px 1px 1px 1px; border-style:solid;border-color:#016ecb #4da0cc #016ecb #4da0cc;}
.tempNew-wrap.tempJobalio .tmp-table colgroup .tbCell01{width:21%;}
.tempNew-wrap.tempJobalio .tmp-table colgroup .tbCell02{width:79%;}
.tempNew-wrap.tempJobalio .tmp-table tbody th{height:35px;padding: 14px 0 14px 18px; font-size:15px; font-weight:bold; color:#006fc9; border-bottom:1px solid #016ecb; background:#e3f3fb;}
.tempNew-wrap.tempJobalio .tmp-table tbody td{height:35px;padding:14px 26px;font-size:14px;line-height:25px;color:#000000;border-color:#016ecb;}
.tempNew-wrap.tempJobalio .tempNew-container .section .tmp-table tbody td p{padding-left:0;}
.tempNew-wrap.tempJobalio .dotted-list{margin:0}
.tempNew-wrap.tempJobalio .dotted-list li{padding-left:7px; line-height:20px;background:url(/ui/static/image/jobTemp/tempJobalio_icon.gif) 0 50% no-repeat;}
.tempNew-wrap.tempJobalio .point-bold{color:#494949;}
.tempNew-wrap .tempNew-container .section .tmp-table tbody td p{letter-spacing:-0.07em}
@media all and (-ms-high-contrast:none){ 
	.tempNew-wrap .tempNew-container .section .tmp-table tbody td p{letter-spacing:-0.07em;}
}
@media all and (-ms-high-contrast:none){ 
}

/*firefox only hack*/
@-moz-document url-prefix(){
}

/* 강조 및 정렬 설정 */
.tempNew-wrap .point{color:#ff460a}
.tempNew-wrap .point-bold{font-weight:bold;}
.tempNew-wrap .text-left{text-align:left;}
.tempNew-wrap .text-right{text-align:right;}
.tempNew-wrap .text-center{text-align:center;}
.tempNew-wrap .text-top{vertical-align:top;}
.tempNew-wrap .text-middle{vertical-align:middle;}
.tempNew-wrap .text-bottom{vertical-align:bottom;}

/* 에디터 강제 */
.se2_inputarea{margin:10px 1px 0 1px !important;padding-top:20px !important;}
#content_job{width:100%;margin:0 auto;}

/* 기존 데이터_끝 */